html {
  scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.nav{
    background: linear-gradient(to right, black,grey);
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.nav1{
    background: linear-gradient(to right, black,grey);
    height: 100px;
    width: 50%;
    position: relative;
    top: 50px;
    left: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
}
.nav1:hover{
    color: yellowgreen;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
.nav2{
    background-color:  grey;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1000px;
    position: absolute;
    left: 900px;
    top: 50px;
    color: white;
}
.nav2 h2:hover{
    background-color: black;
    color: yellowgreen;
    border-radius: 0%;
    height: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out ;
}
.section1{
    border: 0px;
    background-color: black;
    height:750px;
    width: 100%;
    margin-top: -50px;
    padding-top: 300px;
}
.section1 h3{
    color: greenyellow;
    font-size: 50px;
    position: relative;
    left: 200px;
    top: 100px;
}
.section1 h1{
    color: white;
    position: relative;
    left: 200px;
    top: 100px;
    font-size: 50px;
}
.nav2 h2{
    padding-top: 20px;
}
.section1 img{
   position: relative;
   bottom: 250px;
   left: 1200px;
}
.social{
    display: flex;
    gap: 20px;
}
.social i{
    position: relative;
    bottom: 400px;
    left: 200px;
    font-size: 40px;
    background-color: transparent;
    color:#59b2f4 ;
}
.social i:hover{
    background-color: #59b2f4;
    box-shadow: 0 0 10px #59b2f4;
    color: white;
}
.about{
    border: 0px;
    background-color: black;
    height:750px;
    width: 100%;
    margin-top: -50px;
    color: yellowgreen;
    font-size: 30px;
}
.about-1{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inside{
    width: 100%;
    height: 600px;
    display: flex;
}
.para{
    background-color: black;
    color: yellowgreen;
    height: 500px;
    width: 50%;
    padding-left: 80px;
    padding-top: 100px;
}
.image1{
    width: 50%;

}
.image-size{
    width: 80%;
    height: 500px;
    padding-left: 100px;
    padding-top: 100px;
    cursor: pointer;
}
.about-1:hover{
    color: black;
    height: min-content;
    background-color: yellowgreen;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
.section1 h3:hover{
    color: black;
    width:fit-content;
    height: fit-content;
    background-color: yellowgreen;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
.section1 h1:hover{
    color: black;
    width:fit-content;
    height: fit-content;
    background-color: whitesmoke;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
.skill{
    background-color: black;
    width: 100%;
    height: 750px;
    color: yellowgreen;
    position: relative;
}
.skillhead{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: yellowgreen;
}
.skillhead:hover{
    color: black;
    height: min-content;
    background-color: yellowgreen;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
.skillpara{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: yellowgreen;
}
.skillcontainer{
    background-color: yellowgreen;
    color: black;
    width: 50%;
    height: 400px;
    position: absolute;
    left: 400px;
    top: 300px;
    cursor: pointer;
}
.skill1{
    background-color: grey;
    width: 100%;
    height: 150px;
    color: white;
}
.project{
    background-color: black;
    width: 100%;
    height: 700px;
}
.projecthead{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: yellowgreen;
}
.projecthead:hover{
    color: black;
    height: min-content;
    background-color: yellowgreen;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
.contactme{
    background-color: black;
    width: 100%;
    height: 1000px;
}
.contacthead{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: yellowgreen;
}
.contacthead:hover{
    color: black;
    height: min-content;
    background-color: yellowgreen;
    transition: 0.30s ease-in-out;
    cursor: pointer;
}
.html{
    background-color:white;
    color: yellowgreen;
    width: 100%;
    display: flex;
}
.html-logo img{
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.skill h2{
    padding-left: 800px;
}
.grey{
    background-color: yellowgreen;
    width: 80%;
    height: 30px;
}
.skill2{
    background-color: grey;
    width: 100%;
    height: 150px;
    color: white;
}
.css{
    background-color:white;
    width: 100%;
    display: flex;
    color: yellowgreen;
}
.css-logo img{
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.skill h2{
    padding-left: 800px;
}
.red{
    background-color: yellowgreen;
    width: 80%;
    height: 30px;
}
.skill3{
    background-color: grey;
    width: 100%;
    height: 150px;
    color: white;
}
.js{
    background-color:white;
    width: 100%;
    display: flex;
    color: yellowgreen;
}
.js-logo img{
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.green{
    background-color: yellowgreen;
    width: 70%;
    height: 30px;
}
.skill p{
    padding-left: 700px;
    font-size: 25px;
}
.project1 img{
    height: 550px;
    width: 60%;
    padding-left: 350px;
    padding-top: 10px;
}
.imgsec{
    height: 600px;
    width: 90%;
    margin-left: 100px;
    margin-top: 10px;
}
.name{
    background-color: black;
    color: yellowgreen;
    display: inline-block;
    margin-left: 650px;
    width: 30%;
    margin-top: 50px;
}
.namebox{
    background-color: yellowgreen;
    height: 30px;
    width: 100%;
}
.email{
    background-color: black;
    color: yellowgreen;
    display: inline-block;
    margin-left: 650px;
    width: 30%;
    margin-top: 10px;
}
.emailbox{
    background-color: yellowgreen;
    height: 30px;
    width: 100%;
}
.message{
    background-color: black;
    color: yellowgreen;
    display: inline-block;
    margin-left: 650px;
    width: 30%;
    margin-top: 10px;
}
.messagebox{
    background-color: yellowgreen;
    height: 150px;
    width: 100%;
}
.btnbox{
    background-color: yellowgreen;
    position: relative;
    top: 60px;
    right: 100px;
    height: 50px;
    width: 5%;
}
.social1{
   display: flex;
    gap: 100px;
}
.social1 i{
    position: relative;
    top: 200px;
    left: 700px;
    font-size: 40px;
    background-color: transparent;
    color:#59b2f4 ;
}
.social1 i:hover{
    background-color: #59b2f4;
    box-shadow: 0 0 10px #59b2f4;
    color: white;
}
.js:hover {
    background-color:yellowgreen;
    color: white;
    transition: 0.30s ease-in-out;
}
.green:hover{
    background-color: white;
    transition: 0.30s ease-in-out;
}
.css:hover{
    background-color:yellowgreen;
    color: white;
    transition: 0.30s ease-in-out;
}
.red:hover{
    background-color: white;
    transition: 0.30s ease-in-out;
}
.html:hover{
    background-color:yellowgreen;
    color: white;
    transition: 0.30s ease-in-out;
}
.grey:hover{
    background-color: white;
    transition: 0.30s ease-in-out;
}
.social1{
    height: 200px;
    width: 100%;
    background-color: black;
}